.panel-container{
  width: 100%;
  height: calc(100vh - 5em);
  display: flex;
}

.panel-container .panel-options{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
  background-color: #0e1420;
  width: 19em;
  height: 100%;
  gap: 20px;
}

.panel-container .panel-options a{
  width: 100%;
  color: white;
  text-decoration: none;
  background-color: #1e2634;
  padding: 30px 20px;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

.panel-container .panel-options a:hover{
  transform: translateX(20px);
}

.panel-container .panel-options a.active{
  transform: translateX(20px);
}

.panel-container .panel-content{
  width: calc(100% - 19em);
}

