
<div class="show-page">

  <div class="table-responsive">

    <h1>TARJETAS</h1>

    <span *ngIf="cardList.length === 0">No hay tarjetas agregas!!!</span>

    <img *ngIf="cardList.length != 0 && isLoading" src="../../../../assets/loaders/rings.svg" alt="">

    <table *ngIf="cardList.length != 0 && !isLoading" class="table align-middle mb-0 bg-white text-center">

      <thead>
        <tr>
          <th>#</th>
          <th>Numero tarjeta</th>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let card of cardList; let i = index">
          <td>{{i + 1}}</td>
          <td>{{card.tarjeta | maskCard}}</td>
          <td>{{card.nombre | titlecase}}</td>
          <td>{{card.fecha}}</td>

          <td>
            <button class="me-2 mb-2" (click)="onCatchEditingValue(card)">Editar</button>
            <button (click)="onDeleteCard(card.card_id!)" >Eliminar</button>
          </td>
        </tr>

      </tbody>

    </table>
  </div>

</div>

