
<div class="addCard-container">

  <div class="card">

    <img src="../../../../assets/imgs/world.png" alt="" class="world">

    <div>

      <div>
        <h2>monoBank</h2>
        <span>Universal Banck</span>
      </div>

      <i class="bi bi-soundwave"></i>

    </div>

    <div>

      <img src="../../../../assets/imgs/chip.png" alt="" class="chip">

      <p>world</p>

    </div>

    <ul class="card-number-row">

      <li>{{cardNumber | formatCardNumber}}</li>

    </ul>

    <!--  -->
      <div>

        <div>

          <h5 class="date">{{date}}</h5>

          <h3>{{cardName}}</h3>

        </div>

        <img src="../../../../assets/imgs/mastercard.svg" alt="">

      </div>

  </div>


</div>
